.form_button {
    font-size: 30px;
    background: lightgray;
    border: 1px black solid;
    padding: 15px;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    &:active{
        transform: scale(0.85);
        box-shadow: 0 0 1px rgba($color: #000000, $alpha: 1.0);
    }
    &:hover{
        transform: scale(0.95);
        box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.5);
    }
    &:disabled,&[disabled] {
        filter: grayscale(100%) ;  
    }
}